# File di sistema macOS (sei su un Mac)
.DS_Store

# Cartelle di Output (Modelli, Grafici, Video)
outputs/
*.pt
*.pth
*.png
*.mp4

# Dataset
dataset/
*.pkl

# Ambiente virtuale
venv/
env/

# Cache di Python
__pycache__/
*.pyc